.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/loader-bg-mob.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100dvh;
    flex-shrink: 0;
}

@media only screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .container {
      background-image: url(../../img/loader-bg-mob@2x.webp);
    }
  }

@media screen and (min-width: 768px) {
    .container {
        background-image: url(../../img/loader-bg-tab.webp);
    }  
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .container {
      background-image: url(../../img/loader-bg-tab@2x.webp);
    }
  }

@media screen and (min-width: 1280px) {
    .container {
        background-image: url(../../img/loader-bg-desk.webp);
    }  
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .container {
        background-image: url(../../img/loader-bg-desk@2x.webp);
    }  
}

.logo {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
  }

    @media screen and (min-width: 768px) {
        .logo {
            font-size: 100px;
        }
    }
  
  .heart {
    color: #F6B83D;
    margin: 0 2px;
  }

  @media screen and (min-width: 768px) {
    .heart {
      margin: 0 3px;
    }
    
  }