.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  border: none;
}

.authNav .logoutButton {
  background-color: #f6b83d;
  color: #fff;
  border: 1px solid #fff;
}

.authNavHome .logoutButton {
  background-color: #FFF4DF;
  color: #f6b83d;
}

.logoutButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
