.authNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
  .authNav,
  .authNavHome {
    flex-direction: row;
    gap: 8px;
  }
}

.registerButton,
.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  border: none;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.authNav .loginButton {
  background-color: #f6b83d;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.40);
}

.authNavHome .loginButton {
  background-color: #f6b83d;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.40);
}

.loginButton:hover,
.loginButton:focus {
  background-color: #F9B020;
  border-color: #fff;
}

.registerButton {
  background-color: #FFF4DF;
  color: #f6b83d;
}

.registerButton:hover,
.registerButton:focus {
  background-color: #FBE7C1;
}
