.authNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
  .authNav {
    flex-direction: row;
    gap: 8px;
  }
}

.registerButton,
.loginButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  border: none;
}

.loginButton {
  background-color: #f6b83d;
  color: #fff;
  border: 1px solid #fff;
}

.registerButton {
  background-color: #FFF4DF;
  color: #f6b83d;
}

.loginButton:hover,
.registerButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
